doctype html
html
	head
		meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
		title=recipe.metadata.title
	body
		h1=recipe.metadata.title
		table: each instruction in recipe.instructions
			mixin ingredientRender(ingredient)
				each option, index in ingredient
					if index != 0
						b=' OR '
					=option
			tr(valign="top")
				td(rowspan=(
						instruction.ingredients|length
						if instruction.ingredients|length > 0
						else 1)
					)
					if instruction.bold
						b=instruction.text
					else
						=instruction.text
				if instruction.ingredients|length > 0
					td: +ingredientRender(instruction.ingredients[0])
			each ingredient in instruction.ingredients[1:]
				tr: td: +ingredientRender(ingredient)
